/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper{
    margin: 0 auto;
    width: 100%;
}

.nav a {
  color: #777;
  font-size: .875 em;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.red{
  background-color:black;
}

.blue{
  background-color:blue;
}

/*
.grey{
  background-color:#e6e6e6;
}
*/

.social{
  background-color:#5aa320;
}

.masthead{
    width:100%;
}
.transparent{
    background-color:transparent;
    border:none;
}
.green li a:hover{
    background-color:#5aa320;
    color: white;
}

.parallax{
  background-color:orange;
  height: 200px;
}

.center{
  padding-bottom: 20px;
}

.img-circle{
    max-width:140px;
    height:auto;
}

.image-slider{
    height: 400px;
    overflow:hidden;
}

.image-slider img{
    max-width:90%;
}


.social{
    list-style:none;
    position: static;
}

.social-icon{
    color: #fff;
}

.social li{
    display: inline;
}

.social li a{
    display: inline-block;
    padding: 10px 5px 5px 5px;
    margin-left: 15px;
}

.social li:last-child{
    margin-right: 20px;
}

